* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding-top: 40px 80px;
}

.section-m1 {
  margin-top: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

.logo {
  width: 70%;
}

.box {
  position: relative;
  max-width: 600px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.box p {
  padding: 15px;
}

/* Header Start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #B93160;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #B93160;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* Home Page */
#trade-msg {
  background-image: url("videos/bg_video.mp4");
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#trade-msg h4 {
  padding-bottom: 15px;
}

#trade-msg h1 {
  color: #4F1429;
}

#trade-msg button {
  background-color: #4F1429;
  border-radius: 100px;
  color: #E8F9FD;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  touch-action: manipulation;
}

#trade-msg button:hover {
  color: #ffe4e1;
  transform: scale(1.05);
}

#film-background {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* Features Settings */
#feature {
  background: #FFFFFF;
  padding: 30px 30px 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  margin: 0 auto;
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: 1px solid #FFD1D1;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
  width: 80px;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #4F1429;
  background-color: #FFC4C4;
}

/* Feautured Products */
#products {
  text-align: center;
  background-color: #FFFFFF;
  padding: 40px;
}

#products .product-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#products h2 {
  padding: 40px 10px;
}

#products .prod {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #FFD1D1;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#products .prod:hover {
  box-shadow: :20px 20px 30px rgba(0, 0, 0, 0.6);
}

#products .prod img {
  width: 60%;
  border-radius: 20px;
}

#products .prod .description {
  text-align: start;
  padding: 10px 0;
}

#products .prod .description span {
  color: #606063;
  font-size: 12px;
}

#products .prod .description h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
  transition: 0.2s;
}

#products .prod:hover .description h5 {
  color: #4F1429;
}

#products .prod .description i {
  color: rgb(240, 177, 18);
  font-size: 12px;
}

#products .prod .description h4 {
  padding-top: 7px;
  color: #4F1429;
  font-size: 15px;
  font-weight: 700;
}

#products .prod .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #fff;
  font-weight: 500;
  color: #FFC4C4;
  border: 0.5px solid #4F1429;
  transition: 0.2s;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#products .prod .cart:hover {
  color: #4F1429;
  border: 1px solid #FFC4C4;
  position: absolute;
}

/******************************************Banner**************************/
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/banner-bg.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  text-align: center;
}

#banner h4 {
  color: #fff;
  font-size: 30px;
  padding-bottom: 20px;
}

#banner h2 {
  color: #fff;
  font-size: 60px;
  padding: 10px 0;
  text-align: center;
  justify-content: center;
}

#banner h2 span {
  color: #EB1D36;
}

#banner button:hover {
  background: #FFC4C4;
  color: #fff;
}

/******************************** Small Banner *********************/
#sm-banner {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("images/sm-banner-1.jpg");
  min-width: 650px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 40px;
  margin: 40px;
}

#sm-banner .box-2 {
  background-image: url("images/sm-banner-2.jpg");
}

#sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button,
#sm-banner .banner-box2:hover button {
  background: #FFC4C4;
  border: 1px solid #FFC4C4;
  transition: 0.2s ease;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

button.white:hover {
  background: #FFC4C4;
  color: #fff;
}

/**************************************Banner 3*/
#banner-3 {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px;
}

#banner-3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("images/banners-1.jpg");
  min-width: 23%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

#banner-3 .banner-box-m {
  background-image: url("images/banners-2.jpg");
  min-width: 33%;
}

#banner-3 .banner-box-r {
  background-image: url("images/banners-3.jpg");
}

#banner-3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}

#banner-3 h3 {
  color: #1a1a1a;
  font-weight: 800;
  font-size: 15px;
}

/******************************** Newsletter banner*/
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("images/news-bg.jpg");
  background-repeat: no-repeat;
  background-position: 40% 50%;
  background-color: #fff;
  padding: 40px;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding-top: 10px;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: #FFC4C4;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/**************************************** Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  padding-top: 40px;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .col img {
  margin-bottom: 30px;
  width: 65%;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer h4 {
  font-size: 20px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #FFC4C4;
  border-radius: 2px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

footer .follow i:hover,
footer a:hover {
  color: #FFC4C4;
}

/************************************** Shop Page */

#page-header {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("images/shop/shop1.jpg");
  background-size: cover;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: #fff;
}

#pagination {
  text-align: center;
   padding-bottom: 40px;
}

#pagination a {
  text-decoration: none;
  background: #FFC4C4;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/********************************************** Single Product */
#prodetails {
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
  font-size: 26px;
}

#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-details button {
  background: #FFC4C4;
  color: #fff;
}

#prodetails .single-pro-details span {
  line-height: 25px;
}

/* Blog Page */
#blog {
  padding: 150px 150px 0 150px;
}

#page-header.blog-header {
  background-image: url("img/banner/b19.jpg");
}

#blog .blog-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding-bottom: 90px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}

#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}

#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  top: 4px;
  right: -60px;
  position: absolute;
}

#blog .blog-details a:hover {
  color: #088178;
}

#blog .blog-details a:hover::after {
  background-color: #088178;
}

#blog .blog-box h1 {
  position: absolute;
  font-weight: 700;
  font-size: 70px;
  color: #c9cbce;
  top: -40px;
  left: 0;
  z-index: -9;
}

/* About Page */
#page-header.about-header {
  background-image: url("img/about/banner.png");
}

#about-head {
  display: flex;
  align-items: center;
}

#about-head img {
  width: 50%;
  height: auto;
}

#about-head div {
  padding-left: 40px;
}

#about-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#about-app .video {
  width: 70%;
  height: 100%;
  margin-top: 30px;
}

#about-app .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* Contact Page */
#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#contact-details .details span,
#form-details span {
  font-size: 12px;
}

#contact-details .details h2,
#form-details h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}

#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}

#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;
}

#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}

#contact-details .map {
  width: 55%;
  height: 400px;
}

#contact-details .map iframe {
  width: 100%;
  height: 100%;
}

#form-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}

#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form-details form button {
  background-color: #088178;
  color: #fff;
}

#form-details .people div {
  display: flex;
  align-items: flex-start;
  padding-bottom: 25px;
}

#form-details .people img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}

#form-details .people p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}

#form-details .people p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

/* Cart Page */
#cart {
  overflow-x: auto;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 70px;
}

#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td {
  font-size: 13px;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#cuopon {
  width: 50%;
  margin-bottom: 30px;
}

#cuopon h3,
#subtotal h3 {
  padding-bottom: 15px;
}

#cuopon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}

#cuopon button,
#subtotal button {
  background: #088178;
  color: #fff;
  padding: 12px 20px;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}

/*Start Media Query */
@media (max-width:799px) {
  .section-p1 {
    padding: 40px 40px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active {
    right: 0;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }

  #bar {
    display: initial;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
  }

  #lg-bag,
  #lg-search {
    display: none;
  }

  #trade-msg {
    height: 70vh;
    padding: 0 80px;
    background-position: : top 30% right 30%;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px;
  }

  #products .product-container {
    justify-content: center;
  }

  #products .prod {
    margin: 15px;
  }

  #banner {
    height: 20vh;
  }

  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
    padding: 30px;
  }

  #banner-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
  }

  #banner-3 .banner-box {
    width: 28%;
  }

  #newsletter .form {
    width: 70%;
  }

  /* Contact Page */
  #form-details {
    padding: 40px;
  }

  #form-details form {
    width: 50%;
  }
}

@media (max-width:477px) {
  .section-p1 {
    padding: 20px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
  }

  #header {
    padding: 10px 30px;
  }

  #trade-msg {
    padding: 0 20px;
    height: 70vh;
    background-position: 55%;
  }

  #feature {
    justify-content: space-between;
  }

  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }

  #products .prod {
    width: 100%;
  }

  #banner {
    height: 40vh;
  }

  #sm-banner .banner-box {
    height: 40vh;
  }

  #sm-banner .banner-box {
    margin-top: 20px;
  }

  #banner3 {
    padding: 0 20px;
  }

  #banner3 .banner-box {
    width: 100%;
  }

  #newsletter {
    padding: 40px 20px;
  }

  #newsletter .form {
    width: 100%;
  }

  footer .copyright {
    text-align: start;
  }

  /* Blog Page */
  #blog {
    padding: 100px 20px 20px 20px;
  }

  #blog .blog-box {
    flex-direction: column;
    align-items: flex-start;
  }

  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  #blog .blog-details {
    width: 100%;
  }

  #about-app .video {
    width: 100%;
  }

  /* About Page */
  #about-head {
    flex-direction: column;
  }

  #about-head img {
    width: 100%;
  }

  #about-head div {
    padding-top: 20px;
    padding-left: 0px;
  }

  /* Contact Page */
  #contact-details .details {
    width: 100%;
    padding-bottom: 30px;
  }

  #contact-details .map {
    width: 100%;
  }

  #contact-details {
    flex-wrap: wrap;
  }

  #form-details {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }

  #form-details form {
    width: 100%;
    padding-bottom: 30px;
  }

  /* Cart Page */
  #cart-add {
    flex-direction: column;
  }

  #cuopon,
  #subtotal {
    width: 100%;
  }

  #subtotal {
    padding: 20px;
  }

  /* SIngle Product */
  #prodetails {
    flex-direction: column;
  }

  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }

  #prodetails .single-pro-details {
    width: 100%;
    padding-top: 30px;
  }
}
