* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding-top: 40px 80px;
}

.section-m1 {
  margin-top: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none: outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

.logo {
  width: 70%;
}

.box {
  position: relative;
  max-width: 600px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.box p {
  padding: 15px;
}

.bag {
  width: 20px;
}

/* Header Start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #B93160;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #B93160;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* Home Page */
#trade-msg {
  background-image: url("videos/bg_video.mp4");
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#trade-msg h4 {
  padding-bottom: 15px;
}

#trade-msg h1 {
  color: #4F1429;
}

#trade-msg button {
  background-color: #4F1429;
  border-radius: 100px;
  color: #E8F9FD;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  touch-action: manipulation;
}

#trade-msg button:hover {
  color: #ffe4e1;
  transform: scale(1.05);
}

#film-background {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* Features Settings */
#feature {
  background: #FFFFFF;
  padding: 30px 30px 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  margin: 0 auto;
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: 1px solid #FFD1D1;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
  width: 80px;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #4F1429;
  background-color: #FFC4C4;
}

/* Feautured Products */
#products {
  text-align: center;
  background-color: #FFFFFF;
  padding: 40px;
}

#products .product-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#products h2 {
  padding: 40px 10px;
}

#products .prod {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid ##FFD1D1;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#products .prod:hover {
  box-shadow: :20px 20px 30px rgba(0, 0, 0, 0.6);
}

#products .prod img {
  width: 60%;
  border-radius: 20px;
}

#products .prod .description {
  text-align: start;
  padding: 10px 0;
}

#products .prod .description span {
  color: #606063;
  font-size: 12px;
}

#products .prod .description h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#products .prod .description h4 {
  padding-top: 7px;
  color: #4F1429;
  font-size: 15px;
  font-weight: 700;
}

#products .prod p {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #FFFFFF;
  font-weight: 500;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#products .prod p:hover {
  color: #FFC4C4;
  border: 0.5px solid #4F1429;
  position: absolute;
}

/*Banner*/
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/banner-bg.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: #fff;
  font-size: 30px;
  padding-bottom: 20px;
}

#banner h2 {
  color: #fff;
  font-size: 60px;
  padding: 10px 0;
  text-align: center;
  justify-content: center;
}

#banner h2 span {
  color: #EB1D36;
}

#banner button:hover {
  background: #FFC4C4;
  color: #fff;
}

/* Small Banner */
#sm-banner {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("images/sm-banner-1.jpg");
  min-width: 650px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 40px;
  margin: 40px;
}

#sm-banner .box-2 {
  background-image: url("images/sm-banner-2.jpg");
}

#sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

button.white:hover {
    background: #FFC4C4;
    color: #fff;
  }

/*Banner 3*/

#banner-3 {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px;
}

#banner-3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("images/banners-1.jpg");
  min-width: 23%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}

#banner-3 .banner-box-m {
  background-image: url("images/banners-2.jpg");
  min-width: 33%;
}

#banner-3 .banner-box-r {
  background-image: url("images/banners-3.jpg");
}

#banner-3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}

#banner-3 h3 {
  color:#1a1a1a;
  font-weight: 800;
  font-size: 15px;
}

/* Newsletter banner*/

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("images/news-bg.jpg");
  background-repeat: no-repeat;
  background-position: 40% 50%;
  background-color: #fff;
  padding: 40px;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding-top: 10px;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter input {
  height: 2.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}
